{% extends "layouts/base.njk" %}

{% block extra_header %}<style>body{max-width: 800px}</style>{% endblock %}

{% block content %}
<main>
    <h1>Burns Night 2021</h1>
    <p>We invite you, dear traveler, to join us for a spell</p>
    <p>And celebrate, with Scotch and toasts, the stories we will tell </p>
    <p>Of <a href="https://en.wikipedia.org/wiki/Burns_supper">Robert Frost</a>, and us, and others, whose poetry we admire</p>
    <p>For on the eve of ol' Burns natal day,</p>
    <p>We gather friends by the homely fire.</p>
    <p>---</p>  
    <p>"But wait!" Ye cry, "The Plague is here,</p>
    <p>And surely we dare not meet?"</p>
    <p>Kind traveler, comes our reply, have no fear</p>
    <p>For we the fire we gather round, from to and fro,</p>
    <p>Is virtual! Interested? Email <a href="mailto:hello@galaxybrain.co">hello@galaxybrain.co</a>.</p>
    <p>---</p>
    <p>"I'm interested," the timid reply escapes from twixt your lips</p>
    <p>"What need I do or be or bring?" is a the next question ye emit.</p>
    <p>Be just yourself, and bring a poem, and a lovely draught to drink</p>
    <p>Yes, the poem is required, but the drink is whatever you think</p>
    <p>Will honor dear 'ol Rabbie Burns, his memory in your eye.</p>
    <p>We'll be having Scotch, o'course, but you can be wet or dry.</p>
    <p>"What time, what time?" Ye wail, your interest fully peaked?</p>
    <p>"Well, his day's the 25th this year, but to start the week</p>
    <p>That way would do us poorly, and not honor him at all,</p>
    <p>So we'll be meeting on the 22nd, and let the weekend catch our fall.</p>
    <p>---</p>
    <p>Join us friends, with verse and cup, where'er you may be,</p>
    <p>And we shall have the Best Burns Night this year is like to see.</p>
    <h2>The Bottom Line</h2>
    <ul>
        <li>730pm Pacific, Friday, January 22, 2021</li>
        <li>Email <a href="mailto:hello@galaxybrain.co">hello@galaxybrain.co</a> or reach out to Liam or Phildini directly</li>
        <li>You must have something to drink, Scotch is traditional, drink what you like</li>
        <li>You must be prepared to read a poem of your choosing.</li>
    </li>

</main>
{% endblock %}