{% extends "layouts/base.njk" %}
{% block content %}
<main>
    <p>
        <strong>Adult Juice Box</strong> is a zine about libations, and 
        everything that goes into them. We have published issues about drinking 
        wine for your own enjoyment, about how to find wine you like, about 
        whether canned wine or boxed wine is better, and about wine cocktails. 
        We're a project of <a href="https:galaxybrain.co">Galaxy Brain</a>, and 
        run by <a href="http://phildini.net">Philip James</a> and
        <a href="http://liamcampbell.info">Liam Campbell</a>.
    </p>
    <h2>Our Work</h2>
    <p>
        We primarily make a zine, which you can check out on our Patreon Page.
    </p>
        <div class="cta-container">
        <a class="button" href="https://patreon.com/adultjuicebox"
            ><ion-icon name="cash"></ion-icon> Patreon</a
        >
    </div>
    <p>
        We also make a podcast called Thought & A Chaser, an irregular dive into
        libations, language, and logistics. It's available wherever podcasts
        aren't sold.
    </p>
    <div class="cta-container">
        <a class="button" href="https://pod.link/1499154938/"
            ><ion-icon name="mic"></ion-icon> Thought & A Chaser</a
        >
    </div>
    <h2>We're on the internet!</h2>
    <p>
        We often post interesting tidbits to social media. Why not check it out?
    </p>
    <div class="cta-container">
        <a
            class="button"
            href="https://www.instagram.com/adultjuiceboxzine/"
            ><ion-icon name="logo-instagram"></ion-icon> Insta</a
        >
        <a class="button" href="https://twitter.com/adult_juice_box"
            ><ion-icon name="logo-twitter"></ion-icon> Twitter</a
        >
    </div>
</main>
{% endblock %}
