{% extends "layouts/base.njk" %}

{% block content %}
<main>
    <div class="cta-container">
        <a class="button" href="https://airtable.com/shrbsBZVZloMBTzwH"
            ><ion-icon name="search"></ion-icon> COVID-19 Survey</a
        >
    </div>
    <div class="cta-container">
        <a class="button" href="https://www.patreon.com/adultjuicebox"
            ><ion-icon name="cash"></ion-icon> Our Patreon</a
        >
    </div>
    <div class="cta-container">
        <a class="button" href="https://shop.galaxybrain.co"
            ><ion-icon name="cart"></ion-icon> Buy Zines</a
        >
    </div>
</main>
{% endblock %}
